<html>
<head>
 <meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  let posts;

  function init(){

    let url="http://localhost:8080/infosupportAPI/services/rest/profiles";
    let promise = fetch(url);
    promise.then(function(resp){
alert("hoi");
      return resp.json();
    }).then(function(json){posts=json; console.log(posts);});

    promise.catch(function(err){console.log("jammer")});
  }
</script>
</head>
<body onload="init()">

</body>
</html>
